.experience-title{
    text-align: center;
    justify-content: center;
    display: flex;
}

.experience-image {
    max-width: 100%;
    max-height: 100%; 
    width: auto; 
    height: auto; 
  }
  
  .button {    
    background-color: black;
    color: #ffc107; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
  }
  
  .button:hover {
    background-color: #ffc107;
    color: #fff; 
  }
  