.carousel img {
    max-width: 30%;
    height: auto; 
  }

.Work-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}


.Work-container h1 {
  color: #000; 
  font-size: 24px;
}


.Work-container .carousel-root {
  margin-top: 20px;
}


.Work-container .carousel-root img {
  max-width: 100%;
  height: auto;
}
